{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Регистрация аккаунта:.</b> Для использования платформы PRESS F2PAY необходима регистрация аккаунта.
          При регистрации необходимо предоставить достоверную информацию о себе.
          Запрещено создавать несколько аккаунтов с целью обхода правил и мошенничества.
          Продажа товаров и аккаунтов:
          При размещении товаров или аккаунтов для продажи, вы должны предоставить точную информацию о предлагаемом
          товаре.
          Запрещено продавать контрафактные товары или аккаунты с незаконным содержимым.
          Продавец несет ответственность за доставку товара или передачу аккаунта покупателю в соответствии с условиями
          сделки.
          Коммуникация между продавцом и покупателем:
          Коммуникация между продавцом и покупателем должна осуществляться через встроенные функции чата на платформе
          PRESS F2PAY.
          Запрещено обмениваться контактной информацией (например, электронными адресами или номерами телефонов) до
          завершения сделки.

        </p>
        <p>
          <b>Безопасность и мошенничество:</b> PRESS F2PAY предоставляет механизмы проверки и аутентификации товаров и
          аккаунтов, однако все сделки осуществляются на свой страх и риск.
          Запрещено проводить мошеннические операции, такие как использование фальшивых платежей или предоставление
          недостоверной информации.
          В случае обнаружения мошеннической деятельности, PRESS F2PAY оставляет за собой право заблокировать аккаунт
          пользователя и принять соответствующие меры.
        </p>
        <p>
          <b>Творчество.</b> Не важно, в какой области вы творите,
          это может быть литература, дизайн, программирование.
          Наши инструменты помогут вам раскрыть талант максимально
          просто и комфортно.
        </p>
        <p>
          <b>Обязательства пользователя:</b> Пользователь обязуется соблюдать все правила и положения платформы PRESS
          F2PAY.
          Пользователь несет ответственность за предоставление точной информации о себе и своих товарах.
          Пользователь должен сотрудничать с командой поддержки клиентов и соблюдать указания по безопасности.
        </p>
        <p>
          <b>Разрешение споров:</b> В случае возникновения споров между продавцом и покупателем, PRESS F2PAY рекомендует
          использовать механизм разрешения споров на платформе.
          PRESS F2PAY может вмешаться в разрешение спора в случае необходимости и принять соответствующие меры для
          защиты интересов обеих сторон.
          Это основные правила, которые регулируют использование платформы PRESS F2PAY. При использовании площадки важно
          ознакомиться с полными правилами и условиями, чтобы обеспечить безопасность и комфортный опыт для всех
          пользователей.
        </p>
      </div>
    </div>
  </div>
{% endblock %}